{% if site.data.socials.cv_pdf %}
  <a href="{{ site.data.socials.cv_pdf | relative_url }}" title="cv" target="_blank" rel="noopener noreferrer"><i class="ai ai-cv"></i></a>
{% endif %}
{% if site.email %}
  <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fa-solid fa-envelope"></i></a>
{% endif %}
{% if site.data.socials.github_username %}
  <a href="https://github.com/{{ site.data.socials.github_username }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
{% endif %}
{% if site.data.socials.linkedin_username %}
  <a href="https://www.linkedin.com/in/{{ site.data.socials.linkedin_username }}" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
{% endif %}
{% if site.data.socials.scholar_userid %}
  <a href="https://scholar.google.com/citations?user={{ site.data.socials.scholar_userid }}" title="Google Scholar"
    ><i class="ai ai-google-scholar"></i
  ></a>
{% endif %}
